* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  line-height: 1.6;
}
img {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  height: auto;
  border-radius: 12px;
}
.main {
  line-height: 1.7;
  font-size: 36px;
  background-color: white;
  padding: 12px;
  border-left: 4px burlywood double;
  width: fit-content;
  margin: 0 auto;
}
.part1 {
  margin-left: 20px;
  margin-top: 20px;
  border: 12px dashed rgb(106, 0, 255);
  padding: 12px;
  width: 90%;
  max-width: 1200px;
}
div > h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: fit-content;
  margin-bottom: 10px;
}
div > p {
  padding: 12px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

