

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #f5f5f5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #ffffff;
  border-left: 4px solid #1a73e8;
}
