/* All boxes */
.box {
  width: 200px;
  padding: 20px;
  margin: 10px;
  background-color: lightgray;
  border: 2px solid black;
}

/* Target ONLY the last div using class + id */
.box#special-box {
  background-color: orange;
  border: 4px solid red;
}
