 /*  Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body padding */
body {
  padding: 20px;
  background-color: #f4f4f4;
}

/* Box example */
.box {
  width: 200px;
  height: 100px;

  padding: 20px;
  border: 5px solid black;
  margin: 30px;

  background-color: lightblue;
}
